/nbproject/private/
/build/
/DatosTXT/*
/src/proyectoaula/ventanas/Ventana/
/src/proyectoaula/ventanas/Ventana.form/
/src/proyectoaula/ventanas/VentanaGastos/
/src/proyectoaula/ventanas/VentanaGastos.form/
/src/proyectoaula/ventanas/VentanaLogin/
/src/proyectoaula/ventanas/VentanaLogin.form/
/src/proyectoaula/ventanas/VentanaRegistroUsuario/
/src/proyectoaula/ventanas/VentanaRegistro.form/
/src/proyectoaula/ventanas/VentanaRegistroUsuario
